main{overflow:inherit!important;}
.breadcrumb-main{background:none!important; padding:0!important}
.breadcrumb-main .breadcrumb-bg{position:relative!important; background:none!important}
.CartBlock{position:relative; box-shadow:0 0 9px rgb(0 0 0/.2); padding:20px 30px; border-radius:15px; background:#fff}
.CartBlock .CartBox{display:flex; flex-wrap:wrap; border-top:1px solid #ddd;}
.CartCall{padding-top:20px;}
.CartCall:first-child{width:68%; padding-right:25px}
.CartCall:last-child{width:32%; padding-left:25px; border-left:1px solid #ddd}
.CartCall>.row:first-child .col:last-child{text-align:right;}
.CartCall h6{font-weight:600}
.CartCall .ItemBlock{border:1px solid #ddd; border-radius:5px; margin:10px 0 20px; overflow:hidden; transition:all .5s}
.CartCall .ItemBlock:last-child{margin-bottom:0}
.CartCall .ItemBlock .ItemHead{padding:10px; position:relative;}
.CartCall .ItemBlock .ItemHead .Img{height:130px; width:100%; overflow:hidden; border:1px solid #eee; border-radius:5px}
.CartCall .ItemBlock .ItemHead .Img img{height:100%; width:100%; object-fit:cover;}
.CartCall .ItemBlock .ItemHead h4{margin:0;}
.CartCall .ItemBlock .ItemHead h4 a{color:#fdab00; font-weight:600;}
.CartCall .ItemBlock .ItemHead span{font-size:13px; color:#777; display:block; margin-bottom:5px}
.CartCall .ItemBlock .ItemHead span.paglist{display:-webkit-box; overflow:hidden; -webkit-box-orient:vertical; -webkit-line-clamp:1;}
.CartCall .ItemBlock .ItemHead .input-field{float:left; width:80px; margin:0; position:relative;}
.CartCall .ItemBlock .ItemHead .input-field label.active{transform:translateY(36px) scale(0.8)!important}
.CartCall .ItemBlock .ItemHead .input-field input.number{text-align:center; font-size:12px; background:#fff; padding:0 9px; border:1px solid #ddd; width:calc(100%)!important; height:25px!important; margin:0}
.CartCall .ItemBlock .ItemHead i{font-size:15px}
.CartCall .ItemBlock:hover{box-shadow:0 5px 5px rgb(0 0 0/.3); transform:translateY(-4px);}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none; margin:0}
.value-button, .ProDetails .pincode input+button{border:1px solid #ddd; position:absolute; bottom:0; left:0; height:100%; width:25px; font-size:18px; background:#eee}
.value-button:last-child{bottom:auto; top:0; right:0; left:auto;}
.value-button:hover{cursor:pointer}
.QRight{text-align:right;}
h3.Price{color:#555; font-weight:600; position:absolute; right:10px; top:10px}
.CartCall .ItemBlock .ItemFoot{border-top:1px solid #ddd; padding:10px; background:#eee}
.CartCall .ItemBlock .ItemFoot .col:first-child span{font-size:13px; color:#666}
.CartCall .ItemBlock .ItemFoot .col:last-child{text-align:right;}
.CartCall .ItemBlock .ItemFoot .Remove, .CartCall .Remove{background:#f00}
.CartCall .ItemBlock .ItemFoot .Edit, .CartCall .Edit{background:#611f69}
.CartCall .ItemBlock .ItemFoot .Remove, .CartCall .ItemBlock .ItemFoot .Edit, .CartCall .Remove, .CartCall .Edit{font-size:12px; text-transform:uppercase; color:#fff; margin-left:6px; border:1px solid #eee; padding:0 9px; border-radius:5px; line-height:26px; display:inline-block;}

.CartCall:last-child .TopSteps{display:flex; position:relative; margin-bottom:30px}
.CartCall:last-child .TopSteps span::after{position:absolute; content:''; top:45%; width:100%; left:0; border-top:2px #ddd dashed; z-index:-2}
.CartCall:last-child .TopSteps span{width:100%; text-align:center; font-size:14px; font-weight:500; position:relative;}
.CartCall:last-child .TopSteps span span{padding:0 4px; background:#fff; color:#777;}
.CartCall:last-child .TopSteps span:first-child{text-align:left;}
.CartCall:last-child .TopSteps span:first-child span{padding-left:0}
.CartCall:last-child .TopSteps span:last-child{text-align:right;}
.CartCall:last-child .TopSteps span:last-child span{padding-right:0}
/*.CartCall:last-child .TopSteps span:first-child::after{display:none}*/
.CartCall:last-child .TopSteps span:nth-child(2)::after{z-index:-1}
.CartCall:last-child .TopSteps span.active span{color:#611f69}
.CartCall:last-child .TopSteps span.active::after{border-color:#611f69; opacity:.8}
.CartCall:last-child h4{font-weight:600}
.CartCall:last-child .btn{width:100%}
.CartCall:last-child>div{position:sticky; top:60px}
.CartCall:last-child .PriceDetails, .CartCall:last-child .PriceTotal{border-bottom:1px solid #ddd; padding-bottom:10px}
.CartCall:last-child .PriceDetails div, .CartCall:last-child .PriceTotal div{display:flex; align-items:baseline; line-height:30px; margin-bottom:5px;}
.CartCall:last-child .PriceDetails div span, .CartCall:last-child .PriceTotal div span{width:100%; text-align:left; color:#777}
.CartCall:last-child .PriceDetails div span:last-child, .CartCall:last-child .PriceTotal div span:last-child{width:40%; text-align:right; color:#333}
.CartCall:last-child .PriceDetails div span i, .CartCall:last-child .PriceTotal div span i{font-size:14px}
.CartCall:last-child .PriceDetails div:last-child{margin-top:20px}
.CartCall:last-child .PriceDetails div:last-child span.FreeDel{display:inline-block; width:auto; line-height:30px; border-radius:5px; font-size:13px; padding:0 15px; color:#fff!important; background:#4CAF50;}
.CartCall:last-child .PriceDetails div:last-child span:last-child{width:50%; display:inline-block; text-align:left; font-size:13px; margin-left:9px; color:#999;}
.CartCall:last-child .PriceDetails div:last-child span:last-child i{font-size:12px}
.CartCall:last-child .PriceTotal{border:none; padding:15px 0;}

.ShippingP .input-field{width:100%; margin:.6rem 0}
.ShippingP .input-field label{-webkit-transform:translateY(11px) translateX(15px); transform:translateY(11px) translateX(15px); font-size:16px!important; height:auto;}
.ShippingP .input-field label:not(.label-icon).active{transform:translateY(0) translateX(15px) scale(0.7)!important; color:#611f69!important}
.ShippingP input:not([type]), .ShippingP input[type=text]:not(.browser-default), .ShippingP input[type=email]:not(.browser-default), .ShippingP input[type=password]:not(.browser-default), .ShippingP input[type=tel]:not(.browser-default), .ShippingP input[type=number]:not(.browser-default), .ShippingP input[type=file]:not(.browser-default), .ShippingP textarea.materialize-textarea{margin:0; border:1px solid #ddd!important; height:3rem; width:100%; border-radius:3px!important; padding:9px 15px 0!important; box-sizing:border-box;}
.ShippingP textarea.materialize-textarea{padding-top:20px!important; padding-bottom:10px!important; min-height:110px}
.ShippingP .file-field .btn, .ShippingP .file-field .btn-large{height:3rem; line-height:3rem; border-radius:0 5px 5px 0;}
.ShippingP .input-field .select-wrapper+label{transform:translateY(23px) translateX(15px) scale(0.7)!important; color:#611f69!important}
.ShippingP .select-wrapper::after{top:20px}
.ShippingP .select-wrapper::before{top:5px}
.ShippingP .btn-main1{border-color:#611f69; color:#611f69!important;}

.adBlok{position:relative}
.adBlok [type="radio"]:not(:checked), .adBlok [type="radio"]:checked{height:100%; width:100%; top:0; left:0; pointer-events:auto; z-index:9}
.Add-Address{border:2px dashed #ddd; padding:20px; cursor:pointer; min-height:280px; margin-bottom:20px; position:relative; display:flex; justify-content:center; align-content:center; overflow:hidden;}
.Add-Address.Added{border:2px solid #ccc; background:rgb(0 0 0/.05); transition:all .5s}
.Add-Address.Added.selected, .Add-Address.Added:hover, .adBlok [type="radio"]:checked+.Add-Address.Added{border-color:#611f69; background:rgb(97 31 105/.1)}
.Add-Address.Added::after, .Add-Address.Added::before{position:absolute; content:''; right:0; top:0}
.Add-Address.Added::before{height:70px; width:70px; right:-35px; top:-35px; transform:rotate(45deg); background:#ccc; transition:all .5s}
.Add-Address.Added.selected::before, .Add-Address.Added:hover::before, .adBlok [type="radio"]:checked+.Add-Address.Added::before{background:#611f69}
.Add-Address.Added::after{width:8px; right:9px; height:16px; border-top:2px solid transparent; border-left:2px solid transparent; border-right:2px solid #fff; border-bottom:2px solid #fff; -webkit-transform:rotateZ(42deg); transform:rotateZ(42deg);}

.Add-Address>div{width:100%}
.Add-Address>div>img{max-width:190px}
.Add-Address>div>span{display:block; margin-top:15px}
.Add-Address.Added>div{text-align:left;}
.Add-Address.Added>div>span{font-weight:500; display:block; color:#444; margin:9px 0; font-size:16px}
.Add-Address.Added>div p{color:#666!important; font-size:15px; line-height:180%!important; margin:0}
.Add-Address.Added>div p span{display:-webkit-box; overflow:hidden; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
.Add-Address.Added>div a{font-size:14px; text-transform:none; margin:9px 0 0; position:relative; z-index:10;}

.Payment .row:last-child .col{text-align:center!important;}
.Payment .Add-Address.Added.selected{min-height:120px}
.Payment .Add-Address.Added.selected>div>span:first-child{margin-top:0}
.Payment .Add-Address.Added.selected>div>span:last-child{margin-bottom:0}
.pay-btn{position:relative; margin-top:20px!important; line-height:40px!important; height:40px!important; border-radius:20px!important; background:#4CAF50!important; padding-left:40px!important}
.pay-btn::after, .pay-btn::before{position:absolute; content:""; top:11px; left:15px; height:18px; width:18px; border-radius:50%}
.pay-btn::after{border:2px solid #fff; background:#4CAF50}
.pay-btn:focus::before, .pay-btn:active::before{top:15px; left:19px; height:10px; width:10px; background:#fff; z-index:9}

.promocode{display:flex; justify-content:space-between; align-items:center;}
.promocode>div>div{display:flex; align-items: center;}
.promocode>div>div input{border:1px solid #ddd!important; border-radius:5px 0 0 5px!important; max-height: 36px;}
.promocode>div>div .btn{background: #611f69; border-radius: 0 5px 5px 0; border:none;  max-height: 36px; line-height:36px; box-shadow:none; text-transform: unset; letter-spacing: 0;}
.promocode>div span{font-size:12px; text-align: right;  display: block;}

ul.track{/*margin-top:30px; margin-bottom:60px;*/ padding:0; list-style-type:none;}
ul.track li{display:inline-block; text-align:center; float:left; position:relative; padding-top:40px; line-height:18px; font-size:12px}
ul.track li span{}
ul.track li:last-child{float:none; text-align:right;}
ul.track li:first-child{text-align:left;}
ul.track[data-track-steps="2"] li{width:49%;}
ul.track[data-track-steps="3"] li{width:33%;}
ul.track[data-track-steps="4"] li{width:24%;}
ul.track[data-track-steps="5"] li{width:19%;}
ul.track[data-track-steps="6"] li{width:16%;}
ul.track[data-track-steps="7"] li{width:14%;}
ul.track[data-track-steps="8"] li{width:12%;}
ul.track[data-track-steps="9"] li{width:11%;}
ul.track li:after{content:""; color:#ccc; background:#ccc; width:100%; height:4px; top:13px; position:absolute; left:0;}
ul.track li:first-child:before{left:0; right:auto;}
ul.track li:last-child:before{left:auto; right:0;}
ul.track li:before{content:""; color:#ccc; background:#ccc; bottom:0; top:0; left:0; right:0; margin:0 auto; text-align:center; position:absolute; height:30px; width:30px; line-height:30px; border-radius:50%; z-index:1}
ul.track li.done{color:#000}
ul.track li.done:after{background:#4CAF50; color:#000;}
ul.track li.done:before{content:"\2713"; color:#fff; background:#4CAF50;}
ul.track li:before{content:"\039F"; color:#ccc; background:#ccc; height:30px; width:30px; line-height:30px; border:none; border-radius:50%;}

@media only screen and (max-width:992px){.CartCall:first-child{width:58%;}
.CartCall:last-child{width:42%;}
.CartCall:last-child .TopSteps span span{font-size:13px}}
@media only screen and (max-width:767px){.CartCall:first-child{width:100%; padding-right:0; padding-bottom:25px; border-bottom:1px solid #ddd}
.CartCall:last-child{width:100%; padding-left:0; border:none;}}
@media only screen and (max-width:600px){.Add-Address{min-height:150px}
.Payment img{width:70%!important}
.pay-btn{font-size:13px!important}}
@media only screen and (max-width:450px){
.Payment .row:last-child .col.s6{width:100%}}